<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('firebase-config',{
        category: 'config',
        color: "#ffb37a",
        defaults: {
          databaseUrl: {value: "", required: true},
          apiKey: {value: "", required: true},
          authDomain: {value: "", required: true}
        },       
        label: function () {
            var str = 'Please select...'
            if(this.databaseUrl)
              str = "https://"+this.databaseUrl+".firebaseio.com/"
            return str
        },
        labelStyle: function () {
            return this.name ? 'node_label_italic' : '';
        }
    });
</script>

<script type="text/x-red" data-template-name="firebase-config">
    <div class="form-row">
        <label for="node-config-input-databaseUrl"><i class="fa fa-cloud"></i> Database URL</label>
        https://
        <input class="input-append-left" type="text" id="node-config-input-databaseUrl" placeholder="<DATABASE_NAME>" style="width: 28%">
        .firebaseio.com/
    </div>

    <div class="form-row">
        <label for="node-config-input-apiKey"><i class="fa fa-cloud"></i> API Key</label>
        <input class="input-append-left" type="text" id="node-config-input-apiKey" placeholder="<API_Key>" style="width: 28%">
    </div>

    <div class="form-row">
        <label for="node-config-input-authDomain"><i class="fa fa-cloud"></i> Auth Domain</label>
        <input class="input-append-left" type="text" id="node-config-input-authDomain" placeholder="<PROJECT_ID>" style="width: 28%">
        .firebaseapp.com/
    </div>

    <div class="form-row">
        <label for="node-config-input-email"><i class="fa fa-cloud"></i> Email</label>
        <input class="input-append-left" type="text" id="node-config-input-email" placeholder="<EMAIL>" style="width: 28%">
    </div>

    <div class="form-row">
        <label for="node-config-input-password"><i class="fa fa-cloud"></i> Password</label>
        <input class="input-append-left" type="text" id="node-config-input-password" placeholder="<PASSWORD>" style="width: 28%">
    </div>
</script>