<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->
<script type="text/x-red" data-template-name="ping">
    <div class="form-row">
        <label for="node-input-host"><i class="fa fa-dot-circle-o"></i> Target</label>
        <input type="text" id="node-input-host" placeholder="www.google.com">
    </div>
    <div class="form-row">
        <label for="node-input-timer"><i class="fa fa-repeat"></i> Ping (S)</label>
        <input type="text" id="node-input-timer" placeholder="20">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="ping">
    <p>Pings a machine and returns the trip time in mS as <code>msg.payload</code>.</p>
    <p>Returns <b>false</b> if no response received within 5 seconds, or if the host is unresolveable.</p>
    <p>Default ping is every 20 seconds but can be configured.</p>
    <p><code>msg.topic</code> contains the target host ip.
</script>

<script type="text/javascript">
    RED.nodes.registerType('ping',{
        category: 'utility',
        color:"#fdf0c2",
        defaults: {
            name: {value:""},
            host: {value:"",required:true},
            timer: {value:"20", required:true, validate:RED.validators.number()}
        },
        inputs:0,
        outputs:1,
        icon: "ping.png",
        label: function() {
            return this.name||this.host;
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
