
<script type="text/x-red" data-template-name="serial in">
    <div class="form-row node-input-serial">
        <label for="node-input-serial"><i class="fa fa-random"></i> <span>Serial Port</span></label>
        <input type="text" id="node-input-serial">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>

<script type="text/x-red" data-help-name="serial in">
    <p>Reads data from a local serial port.</p>
    <p>Can either <ul><li>wait for a "split" character (default \n). Also accepts hex notation (0x0a).</li>
    <li>Wait for a timeout in milliseconds for the first character received</li>
    <li>Wait to fill a fixed sized buffer</li></ul></p>
    <p>It then outputs <code>msg.payload</code> as either a UTF8 ascii string or a binary Buffer object.</p>
    <p>If no split character is specified, or a timeout or buffer size of 0, then a stream of single characters
    is sent - again either as ascii chars or size 1 binary buffers.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('serial in',{
        category: 'input',
        defaults: {
            name: {name:""},
            serial: {type:"serial-port",required:true}
        },
        color:"BurlyWood",
        inputs:0,
        outputs:1,
        icon: "serial.png",
        label: function() {
            return this.name || 'serial';
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>

<script type="text/x-red" data-template-name="serial out">
    <div class="form-row node-input-serial">
        <label for="node-input-serial"><i class="fa fa-random"></i> <span>Serial Port</span></label>
        <input type="text" id="node-input-serial">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>name</span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>

<script type="text/x-red" data-help-name="serial out">
    <p>Provides a connection to an outbound serial port.</p>
    <p>Only the <code>msg.payload</code> is sent.</p>
    <p>Optionally the new line character used to split the input can be appended to every message sent out to the serial port.</p>
    <p>Binary payloads can be sent by using a Buffer object.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('serial out',{
        category: 'output',
        defaults: {
            name: {name:""},
            serial: {type:"serial-port",required:true}
        },
        color:"BurlyWood",
        inputs:1,
        outputs:0,
        icon: "serial.png",
        align: "right",
        label: function() {
            return this.name || 'serial';
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>


<script type="text/x-red" data-template-name="serial-port">
    <div class="form-row">
        <label for="node-config-input-serialport"><i class="fa fa-random"></i> <span>Serial Port</span></label>
        <input type="text" id="node-config-input-serialport" style="width:60%;">
        <a id="node-config-lookup-serial" class="btn"><i id="node-config-lookup-serial-icon" class="fa fa-search"></i></a>
    </div>
    <div class="form-row">
        <table width="100%"><tr>
            <td width="100px"><i class="fa fa-wrench"></i> <span>Settings</span></td>
            <td width="110px">Baud Rate</td>
            <td width="70px">Data Bits</td>
            <td width="80px">Parity</td>
            <td width="70px">Stop Bits</td>
        </tr><tr><td>&nbsp;</td>
        <td>
            <input type="text" id="node-config-input-serialbaud" style="width:100px">
        </td><td>
        <select type="text" id="node-config-input-databits" style="width:70px;">
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
        </select>
        </td><td>
        <select type="text" id="node-config-input-parity" style="width:80px;">
            <option value="none">None</option>
            <option value="even">Even</option>
            <option value="mark">Mark</option>
            <option value="odd">Odd</option>
            <option value="space">Space</option>
        </select>
        </td><td>
        <select type="text" id="node-config-input-stopbits" style="width:70px;">
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </td>
    </tr></table></div>
    <br/>
    <div class="form-row">
        <label><i class="fa fa-sign-in"></i> <span>Input</span></label>
    </div>
    <div class="form-row" style="padding-left: 10px;">
        <span >Split input</span>
        <select type="text" id="node-config-input-out" style="margin-left: 5px; width:200px;">
            <option value="char">on the character</option>
            <option value="time">after a timeout of</option>
            <option value="count">into fixed lengths of</option>
        </select>
        <input type="text" id="node-config-input-newline"  style="width:50px;">
        <span id="node-units"></span>
    </div>
    <div class="form-row" style="padding-left: 10px;">
        <span>and deliver</span>
        <select type="text" id="node-config-input-bin" style="margin-left: 5px; width: 150px;">
            <option value="false">ascii strings</option>
            <option value="bin">binary buffers</option>
        </select>
    </div>
    <br/>
    <div id="node-config-addchar">
        <div class="form-row">
            <label><i class="fa fa-sign-out"></i> <span>Output</span></label>
        </div>
        <div class="form-row">
            <input style="width: 30px;margin-left: 10px; vertical-align: top;" type="checkbox" id="node-config-input-addchar"><label style="width: auto;" for="node-config-input-addchar"><span>add split character to output messages</span></label>
        </div>
    </div>
    <div class="form-tips"><span>Tip: the Split on character is used to split the input into separate messages. It can also be added to every message sent out to the serial port.</span></div>
    <div class="form-tips" hidden><span>Tip: In timeout mode timeout starts from arrival of first character.</span></div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('serial-port',{
        category: 'config',
        defaults: {
            //name: {value:""},
            serialport: {value:"",required:true},
            serialbaud: {value:"57600",required:true,validate:RED.validators.number()},
            databits: {value:8,required:true},
            parity: {value:"none",required:true},
            stopbits: {value:1,required:true},
            newline: {value:"\\n"},
            bin: {value:"false"},
            out: {value:"char"},
            addchar: {value:false}
        },
        label: function() {
            this.serialbaud = this.serialbaud || 57600;
            this.databits = this.databits || 8;
            this.parity = this.parity || this._("none");
            this.stopbits = this.stopbits || 1;
            return this.serialport+":"+this.serialbaud+"-"+this.databits+this.parity.charAt(0).toUpperCase()+this.stopbits;
        },
        oneditprepare: function() {
            var previous = null;
            var blist = [
                {value:"115200",label:"115200",hasValue:false},
                {value:"57600",label:"57600",hasValue:false},
                {value:"38400",label:"38400",hasValue:false},
                {value:"19200",label:"19200",hasValue:false},
                {value:"9600",label:"9600",hasValue:false},
                {value:"4800",label:"4800",hasValue:false},
                {value:"2400",label:"2400",hasValue:false},
                {value:"1200",label:"1200",hasValue:false},
                {value:"600",label:"600",hasValue:false},
                {value:"300",label:"300",hasValue:false},
                {label:"other",value:"other",icon:"red/images/typedInput/09.png",validate:/^[0-9]*$/}
            ];

            var serialbaudType = "custom";
            for (var i in blist) {
                if (this.serialbaud == blist[i].value) {
                    serialbaudType = this.serialbaud;
                }
            }

            $("#node-config-input-serialbaud").typedInput({
                default: this.serialbaud,
                types:blist
            });

            $("#node-config-input-out").on('focus', function () { previous = this.value; }).change(function() {
                if (previous == null) { previous = $("#node-config-input-out").val(); }
                if ($("#node-config-input-out").val() == "char") {
                    if (previous != "char") { $("#node-config-input-newline").val("\\n"); }
                    $("#node-units").text("");
                    $("#node-config-addchar").show();
                    $("#tip-split").show();
                    $("#tip-bin").hide();
                }
                else if ($("#node-config-input-out").val() == "time") {
                    if (previous != "time") { $("#node-config-input-newline").val("0"); }
                    $("#node-units").text("ms");
                    $("#node-config-addchar").hide();
                    $("#node-config-input-addchar").val("false");
                    $("#tip-split").hide();
                    $("#tip-bin").show();
                }
                else {
                    if (previous != "count") { $("#node-config-input-newline").val(""); }
                    $("#node-units").text("chars");
                    $("#node-config-addchar").hide();
                    $("#node-config-input-addchar").val("false");
                    $("#tip-split").hide();
                    $("#tip-bin").hide();
                }
            });

            try {
                $("#node-config-input-serialport").autocomplete( "destroy" );
            } catch(err) {
            }
            $("#node-config-lookup-serial").click(function() {
                $("#node-config-lookup-serial").addClass('disabled');
                $.getJSON('serialports',function(data) {
                    $("#node-config-lookup-serial").removeClass('disabled');
                    var ports = [];
                    $.each(data, function(i, port) {
                        ports.push(port.comName);
                    });
                    $("#node-config-input-serialport").autocomplete({
                        source:ports,
                        minLength:0,
                        close: function( event, ui ) {
                            $("#node-config-input-serialport").autocomplete( "destroy" );
                        }
                    }).autocomplete("search","");
                });
            });
        },
        oneditsave: function() {
            var mytype = $("#node-config-input-serialbaud").typedInput('type');
            if (mytype !== "other") {
                $("#node-config-input-serialbaud").typedInput('value',mytype);
            }
            this.serialbaud = $("#node-config-input-serialbaud").typedInput('value');
        }
    });
</script>
