<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('ISA-MachineId', {
        category: 'config',
        defaults: {
            name: {value: ""},
            machine: {value: '', required: true},
            protocolName: {value: '', required: true}
        },
        label: function () {
            return this.machine + ' (' + this.protocolName + ')';
        }
    });
</script>



<script type="text/x-red" data-template-name="ISA-MachineId">
    <div class="form-row">
        <label for="node-config-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-config-input-name">
    </div>
    <div class="form-row">
        <label for="node-config-input-machine"><i class="icon-tag"></i> Machine</label>
        <input type="text" id="node-config-input-machine">
    </div>
    <div class="form-row">
        <label for="node-config-input-protocolName"><i class="icon-cogs"></i> Protocol</label>
        <input type="text" id="node-config-input-protocolName" placeholder="ModbusTCP or MQTT or ...">
    </div>
</script>
