<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->
<script type="text/javascript">
    RED.nodes.registerType('ISA95-OPCUA-Server', {
        category: 'plc',
        color:"#FF7030",
        defaults: {
            port: {value:"53880",required:true},
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        align: "right",
        icon: "isa95-icon-blue.png",
        label: function() {
            return this.name||"isa-95 opc ua server";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>


<script type="text/x-red" data-template-name="ISA95-OPCUA-Server">
    <div class="form-row">
        <label for="node-input-port"><i class="icon-tasks"></i> Port</label>
        <input type="text" id="node-input-port" placeholder="53880">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tasks"></i>Name</label>
        <input type="text" id="node-input-name" placeholder="ISA95OPCUAServer">
    </div>
</script>

<script type="text/x-red" data-help-name="ISA95-OPCUA-Server">
    <p>Creates ISA-95 according OPC UA server with own variables to endpoint: opc.tcp://host:port/UA/EndpointName.</p>
</script>


