<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->
<script type="text/javascript">
    RED.nodes.registerType('bit-sixteen', {
        category: 'utility',
        color: '#ABCDEF',
        defaults: {
            name: {value: ""},
        },
        inputs: 1,
        outputs: 16,
        icon: "bit.png",
        align: 'right',
        paletteLabel: "16Bit Split",
        label: function () {
            return this.name || "16Bit Split"
        }
    })
</script>


<script type="text/x-red" data-template-name="bit-sixteen">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>


<script type="text/x-red" data-help-name="bit-sixteen">
     <p>This node splits a 16Bit value to 16 single Bit outputs</p>

     <p>Input: 16Bit value</p>
     <p>Output 1-16: single Bit value</p>
</script>
