<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="postgresdb">
    <div class="form-row">
        <label for="node-config-input-hostname"><i class="fa fa-bookmark"></i> Host</label>
        <input class="input-append-left" type="text" id="node-config-input-hostname" placeholder="localhost" style="width: 40%;" >
        <label for="node-config-input-port" style="margin-left: 10px; width: 35px; "> Port</label>
        <input type="text" id="node-config-input-port" placeholder="5432" style="width:45px">
    </div>
    <div class="form-row">
        <label for="node-config-input-db"><i class="fa fa-briefcase"></i> Database</label>
        <input type="text" id="node-config-input-db" placeholder="test">
    </div>
    <div class="form-row">
        <label for="node-config-input-name"><i class="fa fa-user"></i> Username</label>
        <input type="text" id="node-config-input-user" placeholder="postgres">
        <label for="node-config-input-password"><i class="fa fa-lock"></i> Password</label>
        <input type="password" id="node-config-input-password" placeholder="postgres">
    </div>
    <div class="form-row">
       <label>&nbsp;</label>
       <input type="checkbox" id="node-config-input-ssl" style="display: inline-block; width: auto; vertical-align: top;">
       <label for="node-config-input-ssl" style="width: 70%;">Use SSL</label>
   </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('postgresdb',{
        category: 'config',
        color:"rgb(218, 196, 180)",
        defaults: {
            hostname: { value:"localhost",required:true},
            port: { value: 5432,required:true},
            db: { value:"postgres",required:true},
            ssl: { value:false }
        },
        credentials: {
            user: {type: "text"},
            password: {type: "password"}
        },
        label: function() {
            return this.name||this.hostname+":"+this.port+"/"+this.db;
        }
    });
</script>

<script type="text/x-red" data-template-name="postgres">
	 <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-postgresdb"><i class="fa fa-tag"></i> Server</label>
        <input type="text" id="node-input-postgresdb">
    </div>
    <div class="form-row">
        <label>&nbsp;</label>
        <input type="checkbox" id="node-input-output" placeholder="once" style="display: inline-block; width: auto; vertical-align: top;">
        <label for="node-input-output" style="width: 70%;">Receive query output ?</label>
    </div>
</script>

<script type="text/x-red" data-help-name="postgresdb">
    <p>A PostgreSql I/O node. </p>
    <p>Executes the query specified in msg.payload with optional query parameters in msg.queryParameters</p>
    <p>The queryParameters in the query must be specified as $propertyname</p>
    <p>See the node-postgres-named package for more info</p>
    <p>When receiving data from the query, the msg.payload on the output will be a json array of the returned records</p>

</script>

<script type="text/javascript">
		RED.nodes.registerType('postgresdb',{
			category: 'storage-output',
			color:"rgb(148, 226, 252)",
			defaults: {
				postgresdb: { type:"postgresdb",required:true},
				name: {value:""},
				output: {value:false},
				outputs: {value:0}
			},
			inputs: 1,
			outputs: 0,
			icon: "postgres.png",
			align: "right",
			label: function() {
				return this.name||(this.sqlquery?this.sqlquery:"postgres");
			},
			labelStyle: function() {
				return this.name?"node_label_italic":"";
			},
			oneditprepare: function() {

				$( "#node-input-output" ).prop( "checked", this.output );
				$("#node-input-name").focus();

			},
			oneditsave: function() {

				var hasOutput = $( "#node-input-output" ).prop( "checked" );
				this.outputs = hasOutput ? 1:0;

			}
		});

</script>
