<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->
<script type="text/javascript">
  RED.nodes.registerType('modbus-flex-getter', {
    category: 'plc',
    color: '#E9967A',
    defaults: {
      name: {value: ""},
      showStatusActivities: {value: false},
      showErrors: {value: false},
      server: {type: "modbus-client", required: true}
    },
    inputs: 1,
    outputs: 2,
    icon: "modbus.png",
    paletteLabel: "Modbus-Flex-Getter",
    label: function () {
      return this.name || "modbus flex getter"
    }
  })
</script>


<script type="text/x-red" data-template-name="modbus-flex-getter">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-server"><i class="icon-globe"></i> <span>Server</span></label>
        <input type="text" id="node-input-server">
    </div>
    <hr>
    <div class="form-row">
        <label style="min-width:160px" for="node-input-showStatusActivities"><i class="fa fa-th"></i> <span>show activities</span></label>
        <input type="checkbox" id="node-input-showStatusActivities" style="max-width:30px">
    </div>
    <div class="form-row">
        <label style="min-width:160px" for="node-input-showErrors"><i class="fa fa-th"></i> <span>show errors</span></label>
        <input type="checkbox" id="node-input-showErrors" style="max-width:30px">
    </div>
</script>


<script type="text/x-red" data-help-name="modbus-flex-getter">
    <p>
        Modbus TCP flexible input triggered read node with connection input parameters.
    </p>
    <p>Connects to a Modbus TCP or serial to read coils/inputs/registers at the rate of the incoming msg.</p>
    <p>
        <h4>Function codes (1:4) currently supported include:</h4>

        <ul>
          <li>FC 1: Read Coil Status</li>
          <li>FC 2: Read Input Status</li>
          <li>FC 3: Read Holding Registers</li>
          <li>FC 4: Read Input Registers</li>
        </ul>
        </p>
     <p>
         <strong>Input parameter for connecting Modbus</strong>
         <ul>
             <li>unitid (0..255 tcp | 1..247 serial) - overrides default Unit-ID</li>
             <li>fc (1..4)</li>
             <li>start address (0:65535)</li>
             <li>quantity (1:65535) of coils/inputs/registers to be read from the start address</li>
         </ul>
     </p>

     <p>Output 1: data Array (PDU), modbus response Buffer, input message</p>
     <p>Output 2: modbus response Buffer, data Array (PDU), input message</p>

     <p>Function node code example for single input:</p>
     <code>
        msg.payload = { value: msg.payload, 'fc': 1, 'unitid': 1, 'address': 0 , 'quantity': 1 }
        return msg
     </code>

     <p>Function node code example for multiple inputs:</p>
     <code>
        msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 10 }
        return msg
     </code>
</script>
