<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->
<script type="text/x-red" data-template-name="leveldbase">
    <div class="form-row">
        <label for="node-config-input-db"><i class="fa fa-briefcase"></i> Database</label>
        <input type="text" id="node-config-input-db" placeholder="database path/name">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('leveldbase',{
        category: 'config',
        defaults: {
            db: {value:"",required:true}
        },
        label: function() {
            return this.db;
        }
    });
</script>

<script type="text/x-red" data-template-name="leveldb in">
    <div class="form-row node-input-level">
        <label for="node-input-level"><i class="fa fa-briefcase"></i> Database</label>
        <input type="text" id="node-input-level">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="leveldb in">
    <p>Uses <a href="https://code.google.com/p/leveldb/" target="_new"><i>LevelDB</i></a> for a simple key value pair database.</p>
    <p>Use this node to <b>get</b>, or retrieve the data already saved in the database.</p>
    <p><code>msg.topic</code> must hold the <i>key</i> for the database, and the result is returned in <code>msg.payload</code>.</p>
    <p>If nothing is found for the key then <code>msg.payload</code> is set to the <i>null</i> object.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('leveldb in',{
        category: 'storage-input',
        color:"#dbb84d",
        defaults: {
            level: {type:"leveldbase",required:true},
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "leveldb.png",
        label: function() {
            var levelNode = RED.nodes.node(this.level);
            return this.name||(levelNode?levelNode.label():"leveldb");
        },
            labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>


<script type="text/x-red" data-template-name="leveldb out">
    <div class="form-row node-input-level">
        <label for="node-input-level"><i class="fa fa-briefcase"></i> Database</label>
        <input type="text" id="node-input-level">
    </div>
    <div class="form-row">
        <label for="node-input-operation"><i class="fa fa-wrench"></i> Operation</label>
        <select type="text" id="node-input-operation" style="display: inline-block; vertical-align: top;">
            <option value="store">Store</option>
            <option value="delete">Delete</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>


<script type="text/x-red" data-help-name="leveldb out">
    <p>Uses <a href="https://code.google.com/p/leveldb/" target="_new"><i>LevelDB</i></a> for a simple key value pair database.</p>
    <p>Use this node to either <b>put</b> (store) the <code>msg.payload</code> to the named database file, using <code>msg.topic</code> as the key.</p>
    <p>To <b>delete</b> information select delete in the properties dialogue and again use <code>msg.topic</code> as the key.</b>.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('leveldb out',{
        category: 'storage-output',
        color:"#dbb84d",
        defaults: {
            level: {type:"leveldbase",required:true},
            operation: {value:"store"},
            name: {value:""}
        },
        inputs:1,
        outputs:0,
        icon: "leveldb.png",
        align: "right",
        label: function() {
            var levelNode = RED.nodes.node(this.level);
            return this.name||(levelNode?levelNode.label():"leveldb");
        },
            labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
