<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="MQTTInNode">
    <div class="form-row">
        <label for="node-input-mqtt_port"><i class="fa fa-globe"></i> MQTT port</label>
        <input type="text" id="node-input-mqtt_port" placeholder="leave blank to disable">
    </div>
    <div class="form-row">
        <label for="node-input-mqtt_port"><i class="fa fa-globe"></i> MQTT WS port</label>
        <input type="text" id="node-input-mqtt_ws_port" placeholder="leave blank to disable">
    </div>
    <div class="form-row">
        <label for="node-input-dburl"><i class="fa fa-globe"></i> DB Url</label>
        <input type="text" id="node-input-dburl" placeholder="mongodb://localhost:27017/mqtt">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="msoca in">
    <p>MQTT input node. Connects to a broker and subscribes to the specified topic. The topic may contain MQTT wildcards.</p>
    <p>Outputs an object called <b>msg</b> containing <b>msg.topic, msg.payload, msg.qos</b> and <b>msg.retain</b>.</p>
    <p><b>msg.payload</b> is a String.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('MQTTInNode',{
        category: 'broker-input',
        defaults: {
        	mqtt_port: {value:1883, validate:RED.validators.number()},
        	mqtt_ws_port: {value:8080, validate:RED.validators.number()},
            name: {value:""},
            dburl: {value:"", required:false}
        },
        color:"#d8bfd8",
        inputs:0,
        outputs:1,
        icon: "mqtt.png",
        label: function() {
            return this.name||"MQTT broker";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
