<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('BatchML-Helper',{
        category: 'plc',
        color: '#2fbfbf',
        defaults: {
            action: {value:"default", required:true},
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "isa95-icon-blue.png",
        label: function() {
            return this.name||"ISA-95 BatchML Helper";
        }
    });
</script>

<script type="text/x-red" data-template-name="BatchML-Helper">
     <div class="form-row">
        <label for="node-input-action"><i class="fa fa-tasks"></i> Action</label>
        <select type="text" id="node-input-action" style="width:72%;">
            <option value="default">default</option>
            <option value="extended">extended</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="BatchML-Helper">
    <p>ISA-95 BatchML Helper</p>
    <p>Action is default or extended.</p>
</script>
