<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">

    RED.nodes.registerType('OpcUa-Browser', {
        category: 'plc',
        color: "#3FADB5",
        defaults: {
            endpoint: {value: "", required: true, type: "OpcUa-Endpoint"},
            item: {value: ""},
            datatype: {value: ""},
            topic: {value: ""},
            items: {value: []}
        },
        inputs: 1,
        outputs: 1,
        align: "right",
        icon: "opcualogo.png",
        label: function () {
            return this.item || "OPC UA Browser";
        },
        labelStyle: function () {
            return this.item ? "node_label_italic" : "";
        }
    });
</script>

<script type="text/x-red" data-template-name="OpcUa-Browser">
    <div class="form-row" style="min-width:640px">
        <label for="node-input-endpoint"><i class="icon-bookmark"></i> Endpoint</label>
        <input type="text" id="node-input-endpoint">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-search"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="ns=0;i=85">
    </div>
</script>



<script type="text/x-red" data-help-name="OpcUa-Browser">

    <p>Connect to an endpoint: opc.tcp://host:port/UA/EndpointName</p>

    <p><strong>Inject</strong> a Timestamp or fill <strong>topic</strong> of <strong>msg</strong> object to browse.</p>

    <p>Browsers <strong>Topic</strong> field is to define one browsable OPC UA Item address like ns=0;i=85</p>

    <p><strong>Payload</strong> contains just references of the give OPC UA address.</p>
</script>
