<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('OpcUa-Endpoint', {
        category: 'config',
        defaults: {
            endpoint: {value: "", required: true},
            secpol: {value: "None"},
            secmode: {value: "NONE"},
            login: {value: false}
        },
        credentials: {
            user: {type: "text"},
            password: {type: "password"}
        },
        label: function () {
            return this.endpoint || "OPC UA Endpoint";
        },
        oneditprepare: function () {
            try {
                var loginCheckbox = $("#node-config-input-login");
                var authRow = $(".node-input-useAuth-row");

                if (this.login) {
                    loginCheckbox.prop('checked', true);
                    authRow.show();
                } else {
                    loginCheckbox.prop('checked', false);
                    authRow.hide();
                }

                loginCheckbox.change(function () {
                    if ($(this).is(":checked")) {
                        authRow.show();
                    } else {
                        authRow.hide();
                        $('#node-input-user').val('');
                        $('#node-input-password').val('');
                    }
                });

            } catch (err) {
                console.log(err);
            }
            finally {
                console.log("finally");
            }
        }
    });
</script>

<script type="text/x-red" data-template-name="OpcUa-Endpoint">
    <div class="form-row">
        <label for="node-config-input-endpoint"><i class="icon-link"></i> Endpoint</label>
        <input type="text" id="node-config-input-endpoint">
    </div>
    <div class="form-row">
        <label for="node-config-input-secpol"><i class="icon-key"></i> SecurityPolicy</label>
        <select type="text" id="node-config-input-secpol">
            <option value="None">None</option>
            <option value="Basic128">Basic128</option>
            <option value="Basic128Rsa15">Basic128Rsa15</option>
            <option value="Basic256">Basic256</option>
            <option value="Basic256Sha256">Basic256Sha256</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-config-input-secmode"><i class="icon-key"></i> SecurityMode</label>
        <select type="text" id="node-config-input-secmode">
            <option value="NONE">None</option>
            <option value="SIGN">Sign</option>
            <option value="SIGNANDENCRYPT">Sign&Encrypt</option>
        </select>
    </div>
    <div class="form-row">
        <lable><input type="checkbox" id="node-config-input-login" > use credentials</lable>
    </div>
    <div class="form-row node-input-useAuth-row">
        <label for="node-config-input-user"><i class="icon-user"></i> User</label>
        <input type="text" id="node-config-input-user">
    </div>
    <div class="form-row node-input-useAuth-row">
        <label for="node-config-input-password"><i class="icon-password"></i> Password</label>
        <input type="password" id="node-config-input-password">
    </div>
</script>
