<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('soapserverResponse',{
    // node definition
    category: "utility-output",
    inputs: 1,
    outputs: 0,
    icon: "soap.png",
    align: "right",
    color: "#a6bbcf",
    paletteLabel: "soap server",
    label: function () {
      return this.name || "soap server"
    },
    defaults: {
      name: { value: "" }
    }
  });
</script>

<script type="text/x-red" data-help-name="soapserverResponse">
   <p>Respond to a previous SOAP request.</p>
   <p>This node is only ever used in conjunction with a previous soap soapserver
   node used as the start of a flow.  It builds and sends back response to
   a waiting SOAP client that made a previous call to start the flow in the
   first place.  The content of the <code>msg.payload</code> structure is sent back in
   the response body and should be a string.</p>
</script>

<script type="text/x-red" data-template-name="soapserverResponse">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>
