
<script type="text/x-red" data-template-name="rbe">
    <div class="form-row">
        <label for="node-input-func"><i class="fa fa-wrench"></i> <span>Mode</span></label>
        <select type="text" id="node-input-func" style="width:74%;">
            <option value="rbe">block unless value changes</option>
            <option value="rbei">block unless value changes (ignore initial value)</option>
            <option value="deadbandEq">block unless value change is greater or equal to</option>
            <option value="deadband">block unless value change is greater than</option>
            <option value="narrowbandEq">block if value change is greater or equal to</option>
            <option value="narrowband">block if value change is greater than</option>
        </select>
    </div>
    <div class="form-row" id="node-bandgap">
        <label for="node-input-gap">e.g. 10 or 5%</label>
        <input type="text" id="node-input-gap" style="width:95px;">
        <select type="text" id="node-input-inout" style="width:54%;">
            <option value="out">compared to last valid output value</option>
            <option value="in">compared to last input value</option>
        </select>
    </div>
    <div class="form-row" id="node-startvalue">
        <label for="node-input-start"><i class="fa fa-thumb-tack"/> <span>Start value</span></label>
        <input type="text" id="node-input-start" style="width:71%;">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"/> <span>Name</span></label>
        <input type="text" id="node-input-name" style="width:71%;">
    </div>
</script>

<script type="text/x-red" data-help-name="rbe">
    <p>Report by Exception node - only passes on data if the payload has changed.</p>
    <p>It can also block until the value changes by a specified amount - deadband modes.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload
            <span class="property-type">number | string | (object)</span>
        </dt>
        <dd>RBE mode will accept numbers, strings, and simple objects. Other modes must provide a parseable number.</dd>
        <dt class="optional">topic <span class="property-type">string</span>
        </dt>
        <dd>if specified the function will work on a per topic basis.</dd>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload
            <span class="property-type">as per input</span>
        </dt>
        <dd>If triggered the output will be the same as the input.</dd>
    </dl>
    <h3>Details</h3>
    <p>In RBE mode this node will block until the <code>msg.payload</code> is
    different to the previous one. </p>
    <p>In Deadband modes the incoming payload must contain a parseable number and is
    output only if greater than + or - the band gap away from a previous value.</p>
    <p>Deadband also supports % - only sends if the input differs by more than x% of the original value.</p>
    <p>In Narrowband mode the incoming payload is blocked if it is more than + or - the band gap
    away from the previous value. Useful for ignoring outliers from a faulty sensor for example.</p>
    <p>Both Deadband and Narrowband allow comparison against either the previous valid output value, thus
    ignoring any values out of range; or the previous input value, which resets the set point, thus allowing
    gradual drift (deadband), or a step change (narrowband).</p>
    <p><b>Note:</b> This works on a per <code>msg.topic</code> basis. This means that a single rbe node can
    handle multiple different topics at the same time.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType("rbe", {
        color:"#E2D96E",
        category: 'function',
        defaults: {
            name: {value:""},
            func: {value:"rbe"},
            gap: {value:"",validate:RED.validators.regex(/^(\d*[.]*\d*|)(%|)$/)},
            start: {value:""},
            inout: {value:"out"}
        },
        inputs:1,
        outputs:1,
        icon: "rbe.png",
        label: function() {
            var ll = (this.func||"").replace("Eq","").replace("rbei","rbe")||"rbe";
            return this.name||ll||"rbe";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            //$( "#node-input-gap" ).spinner({min:0});
            if ($("#node-input-inout").val() === null) {
                $("#node-input-inout").val("out");
            }
            $("#node-input-func").on("change",function() {
                if (($("#node-input-func").val() === "rbe")||($("#node-input-func").val() === "rbei")) {
                    $("#node-bandgap").hide();
                } else {
                    $("#node-bandgap").show();
                }
                if ($("#node-input-func").val() === "narrowband") {
                    $("#node-startvalue").show();
                } else {
                    $("#node-startvalue").hide();
                }
            });
        }
    });
</script>
