<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('remote-server',{
        category: 'config',
        defaults: {
          name: {value:'', required: true},
          host: {value:'', required:true},
          port: {value:9200, required:true,validate:RED.validators.number()}
        },
        label: function() {
          return this.name || 'elasticsearch remote server';
        }
    });
</script>

<script type="text/x-red" data-template-name="remote-server">
    <div class="form-row">
        <label for="node-config-input-name"><i class="icon-bookmark"></i> Name</label>
        <input type="text" id="node-config-input-name">
    </div>
    <div class="form-row">
        <label for="node-config-input-host"><i class="fa fa-arrows"></i> Host</label>
        <input type="text" id="node-config-input-host" placeholder="http://localhost">
    </div>
    <div class="form-row">
        <label for="node-config-input-port"><i class="fa fa-plug"></i> Port</label>
        <input type="text" id="node-config-input-port">
    </div>
</script>
