<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-account-link', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
      name: {
        value: ''
      },
      message: {
        value: '',
        required: true
      },
      authUrl: {
        value: ''
      }
    },
    inputs: 1,
    outputs: 1,
    paletteLabel: 'bot account link',
    icon: 'account.png',
    label: function() {
      return this.name || 'account ink';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-account-link">
  <div class="form-row">
      <label for="node-input-name"><i class="icon-tag"></i> Name</label>
      <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-message"><i class="icon-envelope"></i> Message</label>
    <textarea id="node-input-message" placeholder="Message" style="width:93%;height:200px;"></textarea>
    <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;clear:both;margin-top:5px;">
      Supports handlebars-like variables for chat context like {{firstName}}, {{lastName}}, etc. and emoticons (:smile:, etc.)
    </div>
  </div>
  <div class="form-row">
    <label for="node-input-authUrl"><i class="fa fa-globe"></i> Auth Url</label>
    <input type="text" id="node-input-authUrl" placeholder="Website authentication url">
    <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;">
      Required URL for the authention
    </div>
  </div>
</script>

<script type="text/x-red" data-help-name="chatbot-account-link">
<p>Request to link with an external web site account <em>[Facebook]</em>.</p>
</script>


