<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-language',{
    category: 'bot-flow',
    color: '#FFCC66',
    defaults: {
      language: {
        value: 'english'
      },
      mode: {
        value: 'medium'
      }
    },
    inputs: 1,
    outputs: 2,
    paletteLabel: 'language',
    icon: 'language.png',
    label: function() {
      return 'Language';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-language">
<div class="form-row">
  <label for="node-input-language"><i class="icon-flag"></i> Language</label>
  <select id="node-input-language" placeholder="Language to match">
    <option value="albanian">Albanian</option>
    <option value="arabic">Arabic</option>
    <option value="azeri">Azeri</option>
    <option value="bengali">Bengali</option>
    <option value="bulgarian">Bulgarian</option>
    <option value="cebuano">Cebuano</option>
    <option value="croatian">Croatian</option>
    <option value="czech">Czech</option>
    <option value="danish">Danish</option>
    <option value="dutch">Dutch</option>
    <option value="english">English</option>
    <option value="estonian">Estonian</option>
    <option value="farsi">Farsi</option>
    <option value="finnish">Finnish</option>
    <option value="french">French</option>
    <option value="german">German</option>
    <option value="hausa">Hausa</option>
    <option value="hawaiian">Hawaiian</option>
    <option value="hindi">Hindi</option>
    <option value="hungarian">Hungarian</option>
    <option value="icelandic">Icelandic</option>
    <option value="indonesian">Indonesian</option>
    <option value="italian">Italian</option>
    <option value="kazakh">Kazakh</option>
    <option value="kyrgyz">Kyrgyz</option>
    <option value="latin">Latin</option>
    <option value="latvian">Latvian</option>
    <option value="lithuanian">Lithuanian</option>
    <option value="macedonian">Macedonian</option>
    <option value="mongolian">Mongolian</option>
    <option value="nepali">Nepali</option>
    <option value="norwegian">Norwegian</option>
    <option value="pashto">Pashto</option>
    <option value="pidgin">Pidgin</option>
    <option value="polish">Polish</option>
    <option value="portuguese">Portuguese</option>
    <option value="romanian">Romanian</option>
    <option value="russian">Russian</option>
    <option value="serbian">Serbian</option>
    <option value="slovak">Slovak</option>
    <option value="slovene">Slovene</option>
    <option value="somali">Somali</option>
    <option value="spanish">Spanish</option>
    <option value="swahili">Swahili</option>
    <option value="swedish">Swedish</option>
    <option value="tagalog">Tagalog</option>
    <option value="turkish">Turkish</option>
    <option value="ukrainian">Ukrainian</option>
    <option value="urdu">Urdu</option>
    <option value="uzbek">Uzbek</option>
    <option value="vietnamese">Vietnamese</option>
    <option value="welsh">Welsh</option>
  </select>
</div>
<div class="form-row">
  <label for="node-input-mode"><i class="icon-cog"></i> Mode</label>
  <select id="node-input-mode">
    <option value="strict">Strict</option>
    <option value="medium">Medium</option>
    <option value="lousy">Loose</option>
  </select>
  <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;clear:both;margin-top:5px;">
  The language detection algorithm could be not accurate for short sentences, this adjust the tolerance of the
  recognition, use <em>"medium"</em> for most of the situations.
  </div>
</div>
</script>

<script type="text/x-red" data-help-name="bot-language">
  <p>
  Detect the language of the incoming message, if matches the selected one in the configuration panel, message is
  sent to the first output, otherwise the second output.
  </p>
</script>
