<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-slack-node', {
    category: 'config',
    defaults: {
      botname: {
        value: '',
        required: true
      },
      usernames: {
        value: '',
        required: false
      }
    },
    paletteName: 'slack bot',
    credentials: {
      token: {
        type: 'text'
      }
    },
    label: function () {
      return this.botname;
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-slack-node">
  <div class="form-row">
    <label for="node-config-input-botname"><i class="icon-bookmark"></i> Bot-Name</label>
    <input type="text" id="node-config-input-botname">
  </div>
  <div class="form-row">
    <label for="node-config-input-token"><i class="icon-tag"></i> Token</label>
    <input type="text" id="node-config-input-token">
  </div>
  <div class="form-row">
    <label for="node-config-input-usernames"><i class="icon-user"></i> Users</label>
    <input type="text" id="node-config-input-usernames">
    <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;margin-top:5px;">
      Comma separated list of userId authorized to use the chatBot
    </div>
  </div>
</script>

<script type="text/x-red" data-help-name="bot-slack-node">
  <p>
    Configure the Slack chat bot, create a new chat bot in Telegram using the <b>BotFather</b> then generate a new
    token with <code>/token</code>.
  </p>
</script>


<script type="text/javascript">
  RED.nodes.registerType('bot-slack-receive', {
    category: 'bot-platforms',
    color: '#FFCC66',
    defaults: {
      bot: {
        value: '',
        type: 'bot-slack-node',
        required: true
      }
    },
    inputs: 0,
    outputs: 1,
    icon: 'slack.png',
    paletteLabel: 'slack in',
    label: function () {
      return "Slack Receiver";
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-slack-receive">
  <div class="form-row">
      <label for="node-input-bot"><i class="icon-bookmark"></i> Bot</label>
      <input type="text" id="node-input-bot" placeholder="Bot">
  </div>
</script>

<script type="text/x-red" data-help-name="bot-slack-receive">
    <p>Receive a message (text, audio, video, image, etc) from a Slack bot.</p>
    <p>The message is stored in <code>msg.payload</code>, this node also stores in the context flow:
    <code>username</code>, <code>firstName</code>, <code>lastName</code>, <code>chatId</code>, <code>authorized</code>,
    <code>transport</code> and <code>messageId</code>.
    </p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('bot-slack-send', {
    category: 'bot-platforms',
    color: '#FFCC66',
    defaults: {
      bot: {
        value: '',
        type: 'bot-slack-node',
        required: true
      }
    },
    inputs: 1,
    outputs: 1,
    icon: 'slack.png',
    paletteLabel: 'slack out',
    label: function () {
      return 'Slack Sender';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-slack-send">
    <div class="form-row">
        <label for="node-input-bot"><i class="icon-bookmark"></i> Bot</label>
        <input type="text" id="node-input-bot" placeholder="Bot">
    </div>
</script>

<script type="text/x-red" data-help-name="bot-slack-send">

</script>


