<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-audio', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
      name: {
        value: ''
      },
      filename: {
        value: ''
      },
      track: {
        value: false
      }
    },
    inputs: 1,
    outputs: 1,
    icon: 'audio.png',
    paletteLabel: 'audio',
    label: function() {
      return this.name || 'Audio';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-audio">
<div class="form-row">
  <label for="node-input-name"><i class="icon-tag"></i> Name</label>
  <input type="text" id="node-input-name" placeholder="Name">
</div>
<div class="form-row">
  <label for="node-input-filename"><i class="fa fa-file"></i> Filename</label>
  <input type="text" id="node-input-filename" placeholder="Filename">
</div>
</script>

<script type="text/x-red" data-help-name="chatbot-audio">
<p>
  Send image, prepares the payload to send an image to the chat sender using the <code>Buffer</code> as input or
  loading the file if specified in the node config
</p>
</script>


