<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-analytics',{
    category: 'bot-platforms',
    color: '#FFCC66',
    defaults: {
      platform: {
        value: 'dashbot'
      },
      token: {
        value: ''
      }
    },
    inputs: 1,
    outputs: 1,
    paletteLabel: 'bot analytics',
    icon: 'analytic.png',
    label: function() {
      return 'Analytics';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-analytics">
<div class="form-row">
  <label for="node-input-platform"><i class="icon-flag"></i> Service</label>
  <select id="node-input-platform" placeholder="Analytics platform">
    <option value="dashbot">Dashbot.io</option>
  </select>
</div>
<div class="form-row">
  <label for="node-input-place"><i class="icon-wrench"></i> Token</label>
  <input type="text" id="node-input-token" placeholder="Token">
  <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;margin-top:5px;">
    Api token for the analytics platform, get a valid API key from the analytics control panel.
  </div>
</div>
</script>

<script type="text/x-red" data-help-name="chatbot-analytics">
<p>
Track chatbot activities with external services, currently only Dashbot.io is supported <em>[Telegram, Facebook, Smooch, Slack]</em>.
</p>
<p>
This is a pass-through node, it will track the node in the selected analytics platform and forward the unmodified message to the output.
 Place the node just after a receiver (for example a <code>Telegram Receiver Node</code>) and just before sender (for example a <code>Telegram Sender Node</code>).
</p>
</script>
