<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->


<script type="text/javascript">
  RED.nodes.registerType('bot-authorized', {
    category: 'bot-flow',
    color: '#FFCC66',
    defaults: {
    },
    inputs: 1,
    outputs: 2,
    paletteLabel: 'authorized',
    icon: 'authorized.png',
    label: function() {
      return 'Authorized?';
    }
  });
</script>

<script type="text/x-red" data-help-name="bot-authorized">
  <p>
  Check if the current chat is authorized, in that case the message will be forwarded to the first output, otherwise
  the second output.
  </p>
</script>


