<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-waiting', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
      waitingType: {
        value: ''
      }
    },
    inputs: 1,
    outputs: 1,
    icon: 'waiting.png',
    paletteLabel: 'waiting',
    label: function() {
      return 'Waiting...';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-waiting">
  <div class="form-row">
    <label for="node-input-type"><i class="icon-cog"></i> Type</label>
    <select id="node-input-waitingType">
      <option value="">Default</option>
      <option value="typing">Typing</option>
      <option value="upload_photo">Uploading a photo</option>
      <option value="record_video">Recording video</option>
      <option value="upload_video">Uploading a video</option>
      <option value="record_audio">Recording audio</option>
      <option value="upload_audio">Uploading audio</option>
      <option value="upload_document">Uploading document</option>
      <option value="find_location">Finding location</option>
    </select>
    <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;margin-top:5px;">
      For <b>Slack</b> the only available value is <code>typing</code>
    </div>
  </div>
</script>

<script type="text/x-red" data-help-name="bot-waiting">
  <p>
    Set the waiting status on the chat client (somehting like <em>your_bot is typing...</em>). Available for
    <b>Telegram</b>, <b>Slack</b>.
  </p>
  <p>
    Different type of wait are available: typing, recording a video, uploading a video etc.
  </p>
</script>
