<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-qrcode', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
      message: {
        value: ''
      }
    },
    inputs: 1,
    outputs: 1,
    paletteLabel: 'qr code',
    icon: 'qrcode.png',
    label: function() {
      return 'QR Code';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-qrcode">
  <div class="form-row">
  <label for="node-input-message"><i class="icon-envelope"></i> Message</label>
  <textarea id="node-input-message" placeholder="Message" style="width:93%;height:200px;"></textarea>
  <div style="max-width: 460px;font-size: 12px;color: #999999;line-height: 14px;clear:both;margin-top:5px;">
    Text will be be encoded with a QR Code.
    <br/>Supports handlebars-like variables for chat context like {{firstName}}, {{lastName}}, etc. and emoticons (:smile:, etc.)
  </div>
</div>
</script>

<script type="text/x-red" data-help-name="bot-qrcode">
<p>
  Encode a message into a QR code image (text or link)
</p>
<p>
  This node is equivalent to an <code>Image node</code> and can be connected directly to and output node (like
  <code>Telegram Output</code>).
</p>
<p>
  Message box supports templating, it's possible to use chat context variables like
  <pre>
This is an encoded message for {{name}}
  </pre>
</p>
</script>


