<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-debug', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
    },
    inputs: 1,
    outputs: 0,
    paletteLabel: 'debug',
    icon: 'debug.png',
    label: function() {
      return 'Debug';
    }
  });
</script>

<script type="text/x-red" data-template-name="bot-debug">
<div class="form-row">
  Configuration panel is not available for this node
</div>
</script>

<script type="text/x-red" data-help-name="bot-debug">
  <p>
  Debug a chatbot message, this is useful for example to catch the chatId (needed to start a chat conversation)
  </p>
</script>


