<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
  RED.nodes.registerType('bot-log', {
    category: 'bot',
    color: '#FFCC66',
    defaults: {
    },
    inputs: 1,
    outputs: 1,
    icon: 'log.png',
    paletteLabel: 'log',
    label: function() {
      return 'Log';
    }
  });
</script>


<script type="text/x-red" data-help-name="bot-parse">
    <p>Log the message</p>
</script>
