<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="base64">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="base64">
    <p>A function that converts the <code>msg.payload</code> to and from base64 format.</p>
    <p>If the input is a buffer it converts it to a Base64 encoded string.</p>
    <p>If the input is a Base64 string it converts it back to a binary buffer.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('base64',{
        category: 'utility',
        color:"#DEBD5C",
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "base64.png",
        label: function() {
            return this.name||"base64";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
