<script type="text/javascript">
    RED.nodes.registerType('Power Meas.',{
        category: 'plc',
        color: '#b8ff33',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:11,
        icon: "wago.png",
        label: function() {
            return this.name||"wago power meas.";
        }
    });
</script>

<script type="text/x-red" data-template-name="Power Meas.">
    <div class="form-row">
        <label for="node-input-operation"><i class="icon-tag"></i> Operation</label>
        <select type="text" id="node-input-operation" placeholder="Operation">
            <option value="750-493">750-493</option>
            <option value="750-494">750-494</option>
            <option value="750-495">750-495</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
</script>
 
<script type="text/x-red" data-help-name="Power Meas.">
    <p>A node that parses modbus data for the WAGO 750-49X series power measurement module.<br/>

    Changing the module name will help identify multiple instances of the power measurement module.<br/>
    <br/>
    The node expects 12 words of data incoming from a Modbus node.  It will also output 4 words of data to a Modbus write node.<br/>
    <br/>

        <li> 1: Diagnosis message</li>
        <li> 2: Modbus Out Data</li>
        <li> 3: L1 Voltage ( int )</li>
        <li> 4: L2 Voltage ( int )</li>
        <li> 5: L3 Voltage ( int )</li>
        <li> 6: L1 Current ( int )</li>
        <li> 7: L2 Current ( int )</li>
        <li> 8: L3 Current ( int )</li>
        <li> 9: L1 Frequency ( int )</li>
        <li> 10: L2 Frequency ( int )</li>
        <li> 11: L3 Frequency ( int )</li>
    </ol>
    </p>
</script>
