
<script type="text/x-red" data-template-name="feedparse">
    <div class="form-row">
        <label for="node-input-url"><i class="fa fa-globe"></i> Feed url</label>
        <input type="text" id="node-input-url">
    </div>
    <div class="form-row">
        <label for="node-input-interval"><i class="fa fa-repeat"></i> Refresh</label>
        <input type="text" id="node-input-interval" style="width: 50px"> minutes</span>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Feed url</label>
        <input type="text" id="node-input-name">
    </div>
</script>

<script type="text/x-red" data-help-name="feedparse">
    <p>Monitors an RSS/atom feed for new entries.</p>
    <p>The <code>msg.topic</code> contains the original article link. The <code>msg.payload</code>
    contains the description, and <code>msg.article</code> contains the complete article object,
    which has properties such as <code>.title</code>, <code>.summary</code>, <code>.date</code> and so on.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('feedparse',{
        category: 'utility',
        color:"#C0DEED",
        defaults: {
            name: {value:""},
            url: {value:"", required:true},
            interval: { value:15, required: true,validate:RED.validators.number()}
        },
        inputs:0,
        outputs:1,
        icon: "feedparser.png",
        label: function() {
            return this.name||this.url;
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
