<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="facebook-messenger-writer">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row credentials">
        <label for="node-input-token"><i class="fa fa-key"></i> Access Token</label>
        <input type="text" id="node-input-token" placeholder="Token">
    </div>
</script>

<script type="text/x-red" data-help-name="facebook-messenger-writer">
    <p>This node is a friendly writer to Facebook Messenger.
    <p><b>Usage</b></p>
    <p>This node should be provided in input : </p>
    <ul>
      <li><code>msg.payload</code> : the message to send. Format: String </li>
      <li><code>msg.facebookevent</code> : a facebook event, which is normally,
      received on an incoming message.
      Only the sender ID is needed in the facebook event, which is used as the
      recipient ID to send the return message. eg.
      <code>
          msg.facebookevent = {
              "sender": { "id": "111111111111" },
              "recipient": { "id": "222222222222" },
              "timestamp": 1478167276278,
              "message": {
                  "mid": "mid.1478167276278:684dd80866",
                  "seq": 6,
                  "text": "Hello Mr Bot"
                }
          };
      </code>
    </ul>

    <p><b>Configuration</b></p>
    <p>To send the message, this node needs the Access Token, that facebook
      sets up for you to use.
    </p>
</script>

<style type="text/css">
  .node_label_white {
    fill: white;
  }
  #palette_node_facebook-messenger-writer > div.palette_label {
    color: white;
  }
</style>

<script type="text/javascript">
    (function() {
        RED.nodes.registerType('facebook-messenger-writer', {
            category: 'social',
            defaults: {
                name: {value: ""}
            },
            credentials: {
              token: {type:"text"}
            },
            color: "rgb(200,50,50)",
            inputs: 1,
            outputs: 1,
            paletteLabel: "facebook messenger",
            icon: "fb.png",
            label: function() {
                return this.name || "facebook messenger";
            },
            labelStyle: function() {
                return this.name ? "node_label_italic node_label_white" : "node_label_white";
            }
        });
    })();
</script>
