<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="queue-server">
	<div class="form-row">
		<ul style="background: #fff; min-width: 600px; margin-bottom: 20px;" id="node-config-queue-server-tabs"></ul>
	</div>
	<div id="node-config-queue-server-tabs-content" style="min-height: 170px;">
		<div id="queue-server-tab-connection" style="display:none">
			<div class="form-row node-input-name">
				<label for="node-config-input-name"><i class="fa fa-globe"></i><span>Queue Name</span></label>
					<input class="input-append-left" type="text" id="node-config-input-name" placeholder="Enter a queue name" style="width: 40%;" >
			</div>
			<div class="form-row node-input-address">
				<label for="node-config-input-address"><i class="fa fa-link"></i> <span>Redis Server</span></label>
					<input class="input-append-left" type="text" id="node-config-input-address" placeholder="localhost" style="width: 40%;" >
			</div>
			<div class="form-row node-input-port">
				<label for="node-config-input-port"><i class="fa fa-edit"></i> <span>Redis Port</span></label>
				<input type="number" id="node-config-input-port" placeholder="6379" style="width: 40%;">
			</div>
		</div>
		<div id="queue-server-tab-about" style="display:none">
			<p>Job Queue</p>
		</div>
	</div>
</script>

<script type="text/javascript">
	RED.nodes.registerType('queue-server', {
		category : 'config',
		defaults : {
			name : {
				value : "",
				required : true
			},
			address : {
				value : "localhost",
				required : true
			},
			port : {
				value : 6379,
				required : true,
				validate : RED.validators.number()
			}
		},
		label : function() {
			return (this.name ? this.name: this.address + "@" + this.port);
		},
		oneditprepare : function() {
			var tabs = RED.tabs.create({
				id : "node-config-queue-server-tabs",
				onchange : function(tab) {
					$("#node-config-queue-server-tabs-content").children().hide();
					$("#" + tab.id).show();
				}
			});
			tabs.addTab({
				id : "queue-server-tab-connection",
				label : "Queue"
			});
			tabs.addTab({
				id : "queue-server-tab-about",
				label : "About"
			});
			setTimeout(function() {
				tabs.resize();
			}, 0);
		}
	}); 
</script>

<script type="text/x-red" data-template-name="queue run">
	<div class="form-row">
		<label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
		<input type="text" id="node-input-name" placeholder="Enter a name">
	</div>
	<div class="form-row">
		<label for="node-input-queue"><i class="fa fa-globe"></i> <span>Queue</span></label>
		<input type="text" id="node-input-queue" placeholder="Enter queue name">
	</div>
	<div class="form-row" style="margin-bottom: 0px;">
		<label for="node-input-func"><i class="fa fa-wrench"></i> <span>Function</span></label>
		<input type="hidden" id="node-input-func" autofocus="autofocus">
		<input type="hidden" id="node-input-noerr">
	</div>
	<div class="form-row node-text-editor-row">
		<div style="height: 250px;" class="node-text-editor" id="node-input-func-editor" ></div>
	</div>
	<div class="form-row">
		<label for="node-input-outputs"><i class="fa fa-random"></i> <span>Outputs</span></label>
		<input id="node-input-outputs" style="width: 60px; height: 1.7em;" value="1">
	</div>
	<div class="form-tips"><span>See the Info tab for help writing functions.</span></div>
</script>

<script type="text/x-red" data-help-name="queue run">
	<p>A function block where you can write code to run in the background as a queued job which is
	 used OptimalBits/bull library as the core of job management.</p>
	<p>The message is passed in as a JavaScript object called <code>msg.job</code> and <code>msg.done</code> object to the job function.</p>
	<p>By convention it will pass a whole <code>msg</code> object to the job data as the parameter of the queue function.</p>
	<strong>Queued job management:</strong>
	<p>When writting a queued execution code, these funcions are available:</p>
	<ul>
	<li><code>job.progress(50)</code></li>
	<li><code>done()</code></li>
	<li><code>done(Error('error transcoding'))</code></li>
	<li><code>done(null, { message: "Passing result..." })</code></li>
	</ul>
	</p>
	<strong>Logging and Error Handling</strong>
	<p>To log any information, or report an error, the following functions are available:</p>
	<ul>
	<li><code>node.log("Log")</code></li>
	<li><code>node.warn("Warning")</code></li>
	<li><code>node.error("Error")</code></li>
	</ul>
	</p>
	<p>The Catch node can also be used to handle errors. To invoke a Catch node,
	pass <code>msg</code> as a second argument to <code>node.error</code>:</p>
	<pre>node.error("Error",msg)</pre>
	<h4>Sending messages</h4>
	<p>The function can either return the messages it wants to pass on to the next nodes
	in the flow, or can call <code>node.send(messages)</code>.</p>
	<p>It can return/send:</p>
	<ul>
	<li>a single message object - passed to nodes connected to the first output</li>
	<li>an array of message objects - passed to nodes connected to the corresponding outputs</li>
	</ul>
	<p>If any element of the array is itself an array of messages, multiple
	messages are sent to the corresponding output.</p>
	<p>If null is returned, either by itself or as an element of the array, no
	message is passed on.</p>
	<p>See the <a target="_new" href="http://nodered.org/docs/writing-functions.html">online documentation</a> for more help.</p>

</script>

<script type="text/javascript">
	RED.nodes.registerType('queue run', {
		color : "#A6BBCF",
		category : 'utility',
		defaults : {
			name : {
				value : ""
			},
			func : {
				value : "\nreturn msg;"
			},
			outputs : {
				value : 1
			},
			noerr : {
				value : 0,
				required : true,
				validate : function(v) {
					return ((!v) || (v === 0)) ? true : false;
				}
			},
			queue : {
				type : "queue-server",
				required : true
			}
		},
		outputs : 1,
		align: "left",
        icon : "job-queue.png",
		label : function() {
			return this.name || "queue run";
		},
		oneditprepare : function() {
			var that = this;
			$("#node-input-outputs").spinner({
				min : 1
			});

			function functionDialogResize() {
				var rows = $("#dialog-form>div:not(.node-text-editor-row)");
				var height = $("#dialog-form").height();
				for (var i = 0; i < rows.size(); i++) {
					height -= $(rows[i]).outerHeight(true);
				}
				var editorRow = $("#dialog-form>div.node-text-editor-row");
				height -= (parseInt(editorRow.css("marginTop")) + parseInt(editorRow.css("marginBottom")));
				$(".node-text-editor").css("height", height + "px");
				that.editor.resize();
			}


			$("#dialog").on("dialogresize", functionDialogResize);
			$("#dialog").one("dialogopen", function(ev) {
				var size = $("#dialog").dialog('option', 'sizeCache-function');
				if (size) {
					$("#dialog").dialog('option', 'width', size.width);
					$("#dialog").dialog('option', 'height', size.height);
					functionDialogResize();
				}
			});
			$("#dialog").one("dialogclose", function(ev, ui) {
				var height = $("#dialog").dialog('option', 'height');
				$("#dialog").off("dialogresize", functionDialogResize);
			});

			this.editor = RED.editor.createEditor({
				id : 'node-input-func-editor',
				mode : 'ace/mode/javascript',
				value : $("#node-input-func").val()
			});

			RED.library.create({
				url : "functions", // where to get the data from
				type : "function", // the type of object the library is for
				editor : this.editor, // the field name the main text body goes to
				mode : "ace/mode/javascript",
				fields : ['name', 'outputs']
			});
			this.editor.focus();
		},
		oneditsave : function() {
			var annot = this.editor.getSession().getAnnotations();
			this.noerr = 0;
			$("#node-input-noerr").val(0);
			for (var k = 0; k < annot.length; k++) {
				if (annot[k].type === "error") {
					$("#node-input-noerr").val(annot.length);
					this.noerr = annot.length;
				}
			}
			$("#node-input-func").val(this.editor.getValue());
			delete this.editor;
		}
	}); 
</script>

<script type="text/x-red" data-template-name="queue cmd">
	<div class="form-row">
		<label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
		<input type="text" id="node-input-name" placeholder="Enter a name">
	</div>
	<div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> <span>Topic</span></label>
        <input type="text" id="node-input-topic" placeholder="Enter a topic">
    </div>
	<div class="form-row">
		<label for="node-input-queue"><i class="fa fa-globe"></i> <span>Queue</span></label>
		<input type="text" id="node-input-queue" placeholder="Enter queue name">
	</div>
	<div class="form-row">
        <label for="node-input-cmd"><i class="fa fa-empire"></i> <span>Command</span></label>
        <select id="node-input-cmd" style="width:125px !important">
            <option value="0">Add</option>
            <option value="1">Pause</option>
            <option value="2">Resume</option>
        </select>
    </div>
</script>

<script type="text/x-red" data-help-name="queue cmd">
	<p>A command node to execute a queue in the background as a queued job which is used OptimalBits/bull library as the core of job management.</p>
	<p>The message is passed in as a JavaScript object called <code>msg</code>.</p>
	<p>By convention it will have a <code>msg.payload</code> property containing the body of the message which is passed to the queue job.</p>
</script>

<script type="text/javascript">
	RED.nodes.registerType('queue cmd', {
		color : "#A6BBCF",
		category : 'utility',
		defaults : {
			name : {
				value : ""
			},
			topic : {
				value : ""
			},
			queue : {
				type : "queue-server",
				required : true
			},
			cmd : {
				value : 0,
				required : true,
				validate : RED.validators.number()
			}
		},
		inputs : 1,
		align: "right",
		icon : "job-queue.png",
		label : function() {
			return this.name || "queue cmd";
		}
	}); 
</script>
