<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/x-red" data-template-name="geohash">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="geohash">
    <p>A function that encodes lat,lon to and from a geohash.</p>
    <p>If the <code>msg.payload</code> is a string it tries to see if it is a geohash -
    if so it tries to decode it and outputs a payload object containing
    <ul><li>latitude<li>longitude<li>error.latitude<li>error.longitude</ul></p>
    <p>If the <code>msg.payload</code> is an object with properties lat or latitude and lon or longitude
    - it will add a <code>geohash</code> property to the payload.</p>
    <p>The precision can be set by <code>msg.payload.precision</code> from 1 to 9.
    <p><b>Note:</b> If the msg contains a .location property it will operate on that in preference to the .payload.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('geohash',{
        category: 'utility',
        color:"#DEBD5C",
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "geohash.png",
        label: function() {
            return this.name||"geohash";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        }
    });
</script>
