<!--
 Created by prisme.io on 09/06/2017.

 @author <a href="mailto:hello@prisme.io">savane vamara</a> (prisme.io)

-->

<script type="text/javascript">
    RED.nodes.registerType('facebook',{
        category: 'social',
        color: '#e2d96e',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "facebook.png",
        label: function() {
            return this.name||"facebook";
        }
    });
</script>

<script type="text/x-red" data-template-name="facebook">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="facebook">
    <p>A simple node that sends Post on Facebook.</p>
</script>
